@import "../../Variables.scss";

.new-product-container {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .top {
    box-sizing: border-box;
    padding: 30px;
  }
  .product-image {
    height: 150px;
    object-fit: contain;
  }
}
