@import "../../Variables.scss";

.navbar-container {
  box-sizing: border-box;
  padding: 10px 20px;
  padding-bottom: 0;
  .items {
    img {
      height: 50px;
      margin-top: 6px;
    }
    .item {
      font-size: 15px;
      margin: 0 12px;
    }
  }
}
.small-nav-logo {
  height: 100px;
  margin-left: 10px;
}
.toggle-nav {
  left: 25px;
  position: fixed;
  top: 22px;
  background-color: $WhitePrimary;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  display: none !important;
  z-index: 99999999;
  @media screen and (max-width: 700px) {
    & {
      display: flex !important;
    }
  }
}
