@import "../../Variables.scss";

.products-container {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .top {
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 0px;
  }
  .table {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
  }
}
.css-5wly58-MuiDataGrid-root {
  border: none !important;
}
.product-modal {
  height: 100vh;
  max-height: 800px;
  width: 100vw;
  max-width: 800px;
  background-color: $White;
  align-items: center;

  .image {
    height: 200px;
    width: 200px;
  }
}
